

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(78, 198, 228);
}

.container {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 10px;  
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.input-section {
  display: flex;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #e7dcdc;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  background: #4facfe;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

ul {
  list-style: none;
  margin-top: 15px;
}

li {
  padding: 8px;
  background: #f1f1f1;
  margin-top: 8px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

.delete-btn {
  background: red;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}